{% extends 'base.html' %}
{% load static %}
{% block title %}Spain | Cities{% endblock %}


{% block body_class %}morph-page{% endblock %}

{% block morph_images %}
<div class="image-morph">
    <img src="{% static 'images/Home-page-1.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-2.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-3.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-4.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-5.jpg' %}" alt="">
</div>
{% endblock %}

{% block content %}

 <h2 class="color-h2">Welcome to the Cities page.</h2>

 <p>
    <a class="color-return" href="{% url 'index' %}">Return Home</a>
 </p>

 <div class="cards-container">
    {% for card in page_obj %}
        <div class="card">
    <img src="{% static 'images/' %}{{ card.image_name}}" alt="{{ card.title }}">
    <p>{{ card.title }}</p>
    <p>{{ card.content|truncatechars:100}}</p>
        </div>
    {% endfor %}
 </div>

<!-- Paginator controls-->
 <div class="pagination">
    <div class="page-number">
        <span class="page-info">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>
    {% if page_obj.has_previous %}
    <div class="prev-wrapper">
        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number}}" class="prev-btn">Previous</a>
    </div>
    {% endif %}
    {% if page_obj.has_next %}
    <div class="next-wrapper">
        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}" class="next-btn">Next</a>
    </div>
    {% endif %}
 </div>

{% endblock %}