{% extends 'base.html' %}
{% load static %}
{% block title %}Spain | City - Details{% endblock %}


{% block body_class %}morph-page{% endblock %}

{% block morph_images %}
<div class="image-morph">
    <img src="{% static 'images/Home-page-1.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-2.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-3.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-4.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-5.jpg' %}" alt="">
</div>
{% endblock %}

{% block content %}

 <h2 class="color-h2">Welcome to the City Deails page.</h2>

<main class="card-detail-wrapper">
    <div class="card-detail">
        <img src="{% static 'images/' %}{{ card.image_name }}" alt="{{ card.title }}">
        <p>
            <a class="color-return" href="{% url 'index' %}">Return Home</a>
        </p>
    </div>

    <div class="card-content-box">
        <h1>{{ card.title }}</h1>
        <p>{{ content }}</p>
    </div>
</main> 

{% endblock %}