{% extends 'base.html' %}
{% load static %}

{% block title %}Spain | Home{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block content %}

<section class="home-image image-1"></section>


<div class="valencia-intro">
    <div class="valencia-text">
        {% for paragraph in content_paragraphs %}
            <p>{{ paragraph }}</p>
        {% endfor %}
    </div>
</div>
<div  class="card-detail">
<div class="lang-switch">
    <a href="?lang=en">English</a> 
    <a href="?lang=es">Español</a>
</div>
</div>

<section class="home-image image-2"></section>

{% endblock %}
