{% extends 'base.html' %}
{% load static %}
{% block title %}Spain | Logout{% endblock %}


{% block body_class %}morph-page{% endblock %}

{% block morph_images %}
<div class="image-morph">
    <img src="{% static 'images/Home-page-1.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-2.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-3.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-4.jpg' %}" alt="">
    <img src="{% static 'images/Home-page-5.jpg' %}" alt="">
</div>
{% endblock %}

{% block content %}


 <h2 class="color">Welcome to the Logout page.</h2>

 <p>
    <a class="color-return" href="{% url 'index' %}">Reurn Home</a>
 </p>

 <a class="logout-form" href="{% url 'confirm-logout' %}">
    <button id="lg" type="submit">Logout</button>
 </a>

{% endblock %}